

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}

body {
    margin: 0;
}


header {
    background-color: #003366;   
    display: flex;
    align-items: center;
    padding: 15px 30px;
}


header img {
    height: 60px;
    margin-right: 20px;
}


header h1 {
    color: white;
    margin: 0;
    font-size: 24px;
}

